

:root {
    --primary: #1F1F21;
    --text: white;
    --text-gray: #9D9D9E;
    --hover: #353537;
    --border: #3C3C3E;
    --error: #E3452F;
    --bg: #373739;
}

body {
    font-family: 'Work Sans', 
    sans-serif;
    margin: 0;
    background: var(--bg);
}

* {
    box-sizing: border-box;
}

header {
    position: fixed;
    height: 5rem;
    padding: 0 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--primary);
    justify-content: end;
}

.navigation__group {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navigation__group > .icon {
    cursor: pointer;
    width: 2.25rem;
    height: 2.25rem;
    transition: all 0.2s ease-in-out;
}

.navigation__group > .icon:hover {
    transform: scale(1.1);
}

.profile {
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    cursor: pointer;
    object-fit: cover;
    border-radius: 50%;
    filter: drop-shadow(-20px 0 10px 
    rgba(0, 0, 0, 0.1));
}

.profile:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.dropdown__wrapper {
    width: 19rem;
    top: 5.25rem;
    right: 1rem;
    padding: 1rem;
    position: absolute;
    border-radius: 0.75rem;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    color: var(--text);
    gap: 0.25rem;
    animation: fadeOutAnimation 
    ease-in-out 0.3s forwards;
}

.dropdown__wrapper h2 {
    font-size: 1.15rem;
}

.dropdown__wrapper--fade-in {
    animation: fadeInAnimation 
    ease-in-out 0.3s forwards;
}

.none {
    display: none;
}

.hide {
    opacity: 0;
    visibility: hidden;
    animation: fadeOutAnimation 
    ease-in-out 0.3s forwards;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.dropdown__group {
    padding: 0.75rem;
}

.divider {
    width: 100%;
    padding: 0;
    margin: 1rem 0;
    border: 1px solid 
      var(--text-gray);
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 0.25rem;
}

nav > ul > li {
    height: 3rem;
    color: var(--text-gray);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    align-items: center;
    gap: 1rem;
    padding-left: 0.5rem;
    width: 100%;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

nav > ul > li:hover {
    background: var(--hover);
    color: var(--text);
}

nav > ul > li > svg {
    stroke: var(--text-gray);
    height: 1.75rem;
    width: 1.75rem;
}

nav > ul > li:hover > svg {
    stroke: var(--text);
}

.switch__account ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
}

.switch__account li {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 0.75rem;
    padding: 0.75rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.switch__account .active {
    color: var(--text);
    background: var(--hover);
}

.switch__account img {
    border-radius: 50%;
    height: 2.75rem;
    width: 2.75rem;
    object-fit: cover;
}

.sign-out-all {
    background: var(--hover);
    border: 1px solid var(--border);
    width: 100%;
    min-height: 3rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    color: var(--text-gray);
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.sign-out-all:hover {
    color: var(--text);
    border: 1px solid var(--text);
}

.email {
    font-size: 0.95rem;
}

.marker { 
    background: yellowgreen;
    min-width: 1rem;
    min-height: 1rem;
    margin-left: auto;
    border-radius: 50%;
    display: none;
}

.switch__account .active .marker {
    display: block;
}