




:root {
    --primary: #0969DA;
    --primary-light: #0969DA20;
    --background: #EDEEF7;
    --gray: #EDEEF7;
    --white: #FCFCFC;
    --navbar-height: 60px;
}

body {
    font-family: "Red Hat Display", 
        sans-serif;
    font-size: 16px;
    background: var(--background);
    display: flex;
    height: 100vh;
    width: 100vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.groups {
    margin: 0 auto;
    margin-top: 20rem;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
    background: var(--white);
    border-radius: 1rem;
    max-width: 36rem;
    width: 100%;
    height: fit-content;
}

.group {
    padding: 1rem;
    background: var(--white);
    border-radius: 1rem;
    border: 1px solid #E1E1E1;
}

.group:nth-child(2) {
    background: var(--primary-light);
    border: 1px solid var(--primary);
}

.group h2 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

#my-team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    min-height: 14rem;
}

#team-members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    min-height: 14rem;
}

.team-member {
    position: relative;
    z-index: 1;
    width: 9.95rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    max-height: 6rem;
    padding: 1rem;
    background: var(--white);
    border: 1px solid #E1E1E1;
}

.team-member:hover {
    cursor: grab;
}

.social-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0 auto;
    margin-top: auto;
    gap: 0.375rem;
    flex-direction: row;
}

.social-links img {
    height: 1.25rem;
    width: 1.25rem;
}

.team-member-avatar {
    width: 3.75rem;
    height: 3.75rem;
    object-fit: cover;
    border-radius: 50%;
}

.team-member-socials {
    display: flex;
    gap: 0.5rem;
}

.team-member-name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.team-member-name h3 {
    font-size: 0.85rem;
}

.team-member-name p {
    font-size: 0.675rem;
}

.team-member-chosen {
    border: 1px solid 
        var(--primary);
}

.team-member-drag {
    opacity: 0;
}

