
:root {
  --bg: #F6F8FC;
  --primary: #705CFF;
  --secondary: #705CFF60;
  --h2-color: #5B5D72;
  --cube-side: 2.75rem;
  --cube-side-half: calc(var(--cube-side) / 2);
}

body {
  background: var(--bg);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif; 
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 7rem;
}

.loaders {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 6.5rem 6.5rem 6.5rem;
    grid-template-rows: 8rem 8rem;
    gap: 2rem;
    align-items: center;
}

h1 {
  color: var(--h2-color);
  margin-top: 0;
  margin-bottom: 0.125rem;
}


.code-comments {
  white-space: nowrap;
  color: var(--h2-color);
  font-weight: 500;
  font-size: 1.25rem;
}

.cta-text {
  color: var(--h2-color);
  font-weight: 500;
  font-size: 0.75rem;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.profile {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.75rem;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
  font-size: 0.75rem;
}

.modern-frontend-developer {
  max-width: 12rem; 
}

.learning-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #705CFF;
}

.learning-link img {
  width: 2.25rem;
  height: 2.25rem;
}

/* button-01 */

button {
  position: relative;
  overflow: hidden;
  background: transparent;
  padding: 15px 45px;
  border-radius: 15px;
  border: none;
  font-size: 1.5rem;
  color: #e0ffff;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
}
button:active{
  transform: scale(0.95);
}
button::before{
  content: '';
  position: absolute;
  inset: -3px 50px;
  background: #42455a;
  transition: inset 350ms ease;
  z-index: -2;
}
button:hover::before{
  inset: -20px 0px;
  background: #00c2cb;
}
button::after{
  content: '';
  position: absolute;
  inset: 3px;
  border-radius: 10px;
  background: #22232e;
  z-index: -1;
}

/* button 02 */

.button-02 {
  padding: 0.8em 1.8em;
  border: 2px solid #17C3B2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #17C3B2;
 }
 
 .button-02::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17C3B2;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .button-02:hover::before {
  width: 105%;
 }
 
 .button-02:hover {
  color: #111;
 }
 

 /* button 03 */


.center {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.trigger {
	position: relative;
	background: #4a1942;
	display: inline-block;
	width: 200px;
	height: 60px;
	border-radius: 50em;
	box-shadow: 0 2px 20px rgba(0,0,0,0.7), inset 0 1px 0 rgba(255,255,255,0.2);
	color: #fff;
}

span, em, i {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	/*background: yellow;
	opacity: .5;*/
}

em, i {
	transition: top 0.3s;
}

span {
	/*
	uncomment this to see where actually the
	Download and SVG located on initial state
	and on hover
	*/
	overflow: hidden;
}

em {
	line-height: 60px; /*make the button text vertically center of the button*/
	top: 0;
}

i {
	top: 100%; /*moving out the SVG to the bottom on page loads*/
  padding-top:20px;
}

i::before {
  content: "\f019";
  font-family: FontAwesome;
  font-size: 2rem;
}

.trigger:hover em {
	top: -100%; /* move the Download text to the top*/
}

.trigger:hover i {
	top: 0;
}

/*Tooltip*/
.trigger::before,
.trigger::after {
	position: absolute;
	opacity: 0; /*hide on page load*/
	visibility: hidden; /*to stop interaction when user hover on top of the button*/
	transition: all 0.3s;
}

.trigger::before {
	content: "File size: 50M";
	width: 140px;
	height: 60px;
	line-height: 60px; 
	background: #4A1942;
	border-radius: 0.25em;
	bottom: 90px;
	left: calc(50% - 70px); 
}

.trigger::after {
	content: "";
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #4A1942;
	left: calc(50% - 10px);
  bottom: 70px;
}

.trigger:hover::before,
.trigger:hover::after {
	opacity: 1;
	visibility: visible;
}

.trigger:hover::before {
	bottom: 80px;
}

.trigger:hover::after {
	bottom: 60px;
}
