:root {
    --bg: #060D23;
    --linkedin: #0A66C2;
    --youtube: #e52d27;
    --x: #0F1419;
    --white: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    background: var(--bg);
    display: grid;
    place-items: center;
    height: 100vh;
}

.socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.socials a {
    width: 3rem;
    height: 3rem;
    border: none;
    background: transparent;
    border-radius: 50%;
    outline: 2px solid white;
    cursor: pointer;
    transition: all 0.3s;
    display: grid;
    place-items: center;
}

.socials a:hover {
    outline-offset: 3px;
    transition: all 0.3s;
}

.socials svg {
    transition: all 0.3s;
}

.socials a:hover svg {
    transform: scale(1.15);
}

.socials a:hover:nth-child(1) {
    background:  radial-gradient(
        circle at 30% 107%, #fdf497 0%, 
        #fdf497 5%, #fd5949 45%,
        #d6249f 60%,#285AEB 90%
    ); 
}

.socials a:hover:nth-child(2) {
    background-color: var(--white);
}

.socials a:hover:nth-child(2) svg {
    stroke: var(--x);
}

.socials a:hover:nth-child(3) {
    background-color: var(--youtube);
}

.socials a:hover:nth-child(4) {
    background-color: var(--linkedin);
}